[FORMAT]

max-line-length=120

[DESIGN]

min-public-methods=0
max-args=10
max-attributes=10

[MESSAGES CONTROL]

# disable=

[MASTER]
# add file(s) to ignore -- useful during testing and iterative SDLC

--ignore-patterns=*/tests/*,*/venv/*